<div class="resume-container">
  <div class="background-Img">
    <img src="assets/images/educationPrev.jpg" alt="Education preview" class="resume-img">
    <div class="gradient-overlay"></div>

    <div class="close">
      <button class="close-btn" (click)="onClose()">
        <i class="fa-solid fa-circle-xmark fa-xl" style="color: #221F1F;"></i>
      </button>
    </div>

    <div class="overlay-content">
      <h1 class="title">EDUCATION</h1>
      <button class="resume-btn" (click)="downloadPdf()">
        <i class="fa-solid fa-download"></i> Download
      </button>
      <button class="more-Info" (click)="openPdf()">
        <i class="fa-solid fa-circle-info"></i> View
      </button>
    </div>
  </div>

  <div class="about-section">
    <div class="about-title">
      <span class="about-me">My Education</span>
    </div>
    <div class="about-content">
      <h3>Bachelor's Degree</h3>
      <p>
        <strong>B.E. in Computer Science</strong> – Shri Ramdeobaba College of Engineering & Management, Nagpur
        <br>
        Graduated: 2024, GPA: 7.9
      </p>
      <ul>
        <li>Focused on software systems, algorithms, data structures, and full-stack development.</li>
        <li>Completed multiple projects using Angular, Node.js, MongoDB, and AWS.</li>
        <li>Participated in multiple hackathons and a part of SRCOEM community</li>
      </ul>

      <h3>Higher Secondary (Class XII)</h3>
      <p>
        <strong>Science Stream</strong> – Prerna Convent, S.S.C
        <br>
        Year of Completion: 2020, Percentage: 84
      </p>
      <ul>
        <li>Specialized in Physics, Chemistry, and Mathematics.</li>
        <li>Consistently scored above 85% in all core subjects.</li>
        <li>Active in science exhibitions and coding clubs.</li>
      </ul>

      <h3>Secondary Education (Class X)</h3>
      <p>
        <strong>General Curriculum</strong> – Lalita Public School, CBSE
        <br>
        Year of Completion: 2018, Percentage: 79
      </p>
      <ul>
        <li>Strong foundation in Mathematics, Science, and Computers.</li>
        <li>Scored distinction in all subjects, with high aptitude in problem-solving.</li>
        <li>Won inter-school science quiz and participated in computer olympiads.</li>
      </ul>
    </div>
  </div>
</div>
