<div class="recrit-container">

  <div class="top-container">
    <div class="video-wrapper">
      <video preload="metadata" #myVideo (mouseenter)="playVideo()"
        (mouseleave)="pauseVideo()">
      <source src="assets/videos/mountainBack.mp4" type="video/mp4">
      </video>
    </div>

    <div class="navbar">
      <div class="navbar-logo">
        <span class="title">PORTFOLIO</span>
      </div>
      <div class="right-navbar">
        <div class="profile-icon">
          <img [src]="userDetails.image" alt="userImage" />
        </div>
        <div class="navbar-menu">
          <button class="menu-toggle-btn" (click)="toggleMenu()">
            <i class="fa-solid fa-bars" style="color: white;"></i>
          </button>
        </div>
      </div>
    </div>

    <div  class="description-container" (mouseenter)="playVideo()"
        (mouseleave)="pauseVideo()">
      <div>
        <span class="title">RECRUITER</span>
      </div>
      <div>
        <span class="subtitle">Welcome to my portfolio! Here, you’ll find an overview of my skills, experience, and projects, showcasing how I can contribute to your team.</span>
      </div>
      <div>
        <button class="resume-btn" (click)="viewResume()"><i class="fa-solid fa-play" style="color: #ffffff;"></i> Resume</button>
        <button class="more-Info" (click)="viewMoreInfo()"><i class="fa-solid fa-circle-info" style="color: #ffffff;"></i> More Info</button>
      </div>
    </div>

  </div>


  <div class="poster">
    <div class="title">
      <span>Today's Top Pick for Recruiters </span>
    </div>
    <div class="picks-carasoul">
      <app-carousel [categoryTitle]="'Documentaries'"
        [items]="carouselSlides">></app-carousel>
    </div>
  </div>

  <div class="about">

  </div>
</div>

<div class="sidebar" [class.open]="menuOpen">
  <ul>
    <li><a href="#">Home</a></li>

  </ul>
</div>
