/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
}

  /* visually shows boundaries */
/* * {
  outline: 1px solid red;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered-dialog {
  mat-dialog-container {
    position: relative !important;
    background-color: #221F1F !important;
    border-radius: 10px !important;
    margin: 1.5vw !important;
  }
}



/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e50914 black;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #e50914;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ff2e2e;
}
